@model IEnumerable<DoapSoap.BusinessLogic.Models.Location>

@{
    ViewData["Title"] = "All Locations";
}

<h1>All Locations</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Order History", "OrderHistory", new { id = item.ID }) |
                @Html.ActionLink("Inventory", "Inventory", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
