@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center titlePageDivs fadeIn" style="min-height:10vh;display:flex;align-items:center;color:white">
    <h1 class="display-4">Hi!</h1>
</div>

<div class="text-center titlePageDivs fadeIn-delay-1" style="min-height:10vh;display:flex;align-items:center;color:white">
    <h2>Have you come to shop soup?</h2>
</div>

<div class="text-center titlePageDivs fadeIn-delay-2" style="min-height:10vh;display:flex;align-items:center;color:white">
    <h3>Then this is the coup for you.</h3>
</div>



