@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="min-height:10vh;display:flex;align-items:center;">
    <h1 class="display-4">Hi!</h1>
</div>
<div class="text-center" style="min-height:10vh;display:flex;align-items:center;">
    <h2>Have you come to soup shop?</h2>
</div>
<div class="text-center" style="min-height:10vh;display:flex;align-items:center;">
    <p>Then this is a super shop for you.</p>
</div>
